@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet';

:root {
  --dk-gray-100: #f3f4f6;
  --dk-gray-200: #e5e7eb;
  --dk-gray-300: #d1d5db;
  --dk-gray-400: #9ca3af;
  --dk-gray-500: #6b7280;
  --dk-gray-600: #4b5563;
  --dk-gray-700: #374151;
  --dk-gray-800: #1f2937;
  --dk-gray-900: #111827;
  --dk-dark-bg: #313348;
  --dk-darker-bg: #2a2b3d;
  --navbar-bg-color: #6f6486;
  --sidebar-bg-color: #090909;
  --sidebar-width: 250px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 89% !important;
  font-family: "Inter", sans-serif;
  font-size: 0.925rem;
  background: #121212 !important;
}

#wrapper {
  margin-left: var(--sidebar-width);
  transition: all 0.3s ease-in-out;
}

#wrapper.fullwidth {
  margin-left: 0;
}

/** --------------------------------
 -- Sidebar
-------------------------------- */
.sidebar {
  background-color: var(--sidebar-bg-color);
  width: var(--sidebar-width);
  transition: all 0.3s ease-in-out;
  transform: translateX(0);
  z-index: 9999999;
}

.sidebar .close-aside {
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
  color: #eee;
}

.sidebar .sidebar-header {
  border-bottom: 1px solid #2a2b3c;
}

.sidebar .sidebar-header h5 a {
  color: var(--dk-gray-300);
}

.sidebar .sidebar-header p {
  color: var(--dk-gray-400);
  font-size: 0.825rem;
}

.sidebar .search .form-control ~ i {
  color: #2b2f3a;
  right: 40px;
  top: 22px;
}

.sidebar > ul > li {
  padding: 0.7rem 1.75rem;
}

.sidebar ul > li > a {
  color: var(--dk-gray-400);
  text-decoration: none;
}

/* Start numbers */
.sidebar ul > li > a > .num {
  line-height: 0;
  border-radius: 3px;
  font-size: 14px;
  padding: 0px 5px;
}

.sidebar ul > li > i {
  font-size: 18px;
  margin-right: 0.7rem;
  color: var(--dk-gray-500);
}

.sidebar ul > li.has-dropdown > a:after {
  content: "\eb3a";
  font-family: unicons-line;
  font-size: 1rem;
  line-height: 1.8;
  float: right;
  color: var(--dk-gray-500);
  transition: all 0.3s ease-in-out;
}

.sidebar ul .opened > a:after {
  transform: rotate(-90deg);
}

/* Start dropdown menu */
.sidebar ul .sidebar-dropdown {
  padding-top: 10px;
  padding-left: 30px;
  display: none;
}
.sidebar ul .sidebar-dropdown.active {
  display: block;
}

.sidebar ul .sidebar-dropdown > li > a {
  font-size: 0.85rem;
  padding: 0.5rem 0;
  display: block;
}
/* End dropdown menu */

.show-sidebar {
  transform: translateX(-270px);
}

@media (max-width: 767px) {
  .sidebar ul > li {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .sidebar .search {
    padding: 10px 0 10px 30px;
  }
}

/** --------------------------------
 -- welcome
-------------------------------- */
.welcome {
  color: var(--dk-gray-300);
}

.welcome .content {
  background-color: var(--dk-dark-bg);
}

.welcome p {
  color: var(--dk-gray-400);
}

/** --------------------------------
 -- Statistics
-------------------------------- */
.statistics {
  color: var(--dk-gray-200);
}

.statistics .box {
  background-color: var(--dk-dark-bg);
}

.statistics .box i {
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.statistics .box p {
  color: var(--dk-gray-400);
}

/** --------------------------------
 -- Charts
-------------------------------- */
.charts .chart-container {
  background-color: var(--dk-dark-bg);
}

.charts .chart-container h3 {
  color: var(--dk-gray-400);
}

/** --------------------------------
 -- users
-------------------------------- */
.admins .box .admin {
  background-color: var(--dk-dark-bg);
}

.admins .box h3 {
  color: var(--dk-gray-300);
}

.admins .box p {
  color: var(--dk-gray-400);
}

/** --------------------------------
 -- statis
-------------------------------- */
.statis {
  color: var(--dk-gray-100);
}

.statis .box {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.statis .box h3:after {
  content: "";
  height: 2px;
  width: 70%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.12);
  display: block;
  margin-top: 10px;
}

.statis .box i {
  position: absolute;
  height: 70px;
  width: 70px;
  font-size: 22px;
  padding: 15px;
  top: -25px;
  left: -25px;
  background-color: rgba(255, 255, 255, 0.15);
  line-height: 60px;
  text-align: right;
  border-radius: 50%;
}

.main-color {
  color: #ffc107;
}

/** --------------------------------
 -- Please don't do that in real-world projects!
 -- overwrite Bootstrap variables instead.
-------------------------------- */

.navbar {
  background-color: var(--navbar-bg-color) !important;
  border: none !important;
}
.navbar .dropdown-menu {
  right: auto !important;
  left: 0 !important;
}
.navbar .navbar-nav > li > a {
  color: #eee !important;
  line-height: 55px !important;
  padding: 0 10px !important;
}
.navbar .navbar-brand {
  color: #fff !important;
}
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
  color: #eee !important;
}

.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:focus,
.navbar .navbar-nav > .open > a:hover {
  background-color: transparent !important;
  color: #fff !important;
}

.navbar .navbar-brand {
  line-height: 55px !important;
  padding: 0 !important;
}
.navbar .navbar-brand:focus,
.navbar .navbar-brand:hover {
  color: #fff !important;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin: 0 !important;
}
@media (max-width: 767px) {
  .navbar > .container-fluid .navbar-brand {
    margin-left: 15px !important;
  }
  .navbar .navbar-nav > li > a {
    padding-left: 0 !important;
  }
  .navbar-nav {
    margin: 0 !important;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border: none !important;
  }
}

.navbar .navbar-nav > li > a {
  float: left !important;
}
.navbar .navbar-nav > li > a > span:not(.caret) {
  background-color: #e74c3c !important;
  border-radius: 50% !important;
  height: 25px !important;
  width: 25px !important;
  padding: 2px !important;
  font-size: 11px !important;
  position: relative !important;
  top: -10px !important;
  right: 5px !important;
}
.dropdown-menu > li > a {
  padding-top: 5px !important;
  padding-right: 5px !important;
}
.navbar .navbar-nav > li > a > i {
  font-size: 18px !important;
}

/* Start media query */

@media (max-width: 767px) {
  #wrapper {
    margin: 0 !important;
  }
  .statistics .box {
    margin-bottom: 25px !important;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc !important;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #fff !important;
  }
  .navbar .navbar-toggle {
    border: none !important;
    color: #eee !important;
    font-size: 18px !important;
  }
  .navbar .navbar-toggle:focus,
  .navbar .navbar-toggle:hover {
    background-color: transparent !important;
  }
}

::-webkit-scrollbar {
  background: transparent;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #3c3f58;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.cards {
  height: 275px;
  border-radius: 0.375rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: #282828;
  margin-bottom: 25px;
}

.cards .section-title {
  margin-bottom: 0.5rem;
  text-align: center;
}

.cards h2 {
  margin-bottom: 3.25rem;
  text-align: center;
}

.cards .card {
  margin-bottom: 5.25rem;
  border: none;
  background-color: transparent;
}

.cards .card-image img {
  margin-top: auto;
  margin-left: 7%;
  border-radius: 0.375rem;
}

.cards h3 {
  margin: 13px;
  font-size: 18px !important;
  margin-bottom: 0.75rem;
  text-align: left;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cards p {
  margin: 10px;
  font-size: 15px !important;
  margin-bottom: 0.75rem;
  text-align: left;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cards .list-unstyled {
  margin-bottom: 1.5rem;
}

.cards .list-unstyled .fas {
  color: #14bf98;
  font-size: 0.5rem;
  line-height: 1.375rem;
}

.cards .list-unstyled .media-body {
  margin-left: 1.625rem;
}

.cards .player {
  margin-bottom: 0.25rem;
  color: #484a46;
  font: 800 10.5rem/111rem "Montserrat", sans-serif;
  text-align: center;
}

.cards .player span {
  color: #14bf98;
}

.cards .button-container {
  margin-top: -1.375rem;
  text-align: center;
}

.cards:hover {
  background-color: #616161;
}

.cards .card {
  max-width: 10.25rem;
  max-height: 10.25rem;
  display: inline-block;
  vertical-align: top;
}

.cards .col-lg-12 div.card:nth-child(3n + 2) {
  margin-right: 1.25rem;
  margin-left: 1.25rem;
}

.cards .card-body {
  padding: 2.25rem 2.5rem 2.125rem 2.5rem;
}

.cards .col-lg-12 div.card:nth-child(3n + 2) {
  margin-right: 3rem;
  margin-left: 3rem;
}

.cards2 {
  height: 240px;
  border-radius: 0.375rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: #282828;
  margin-bottom: 25px;
}

.cards2 .section-title {
  margin-bottom: 0.5rem;
  text-align: center;
}

.cards2 h2 {
  margin-bottom: 3.25rem;
  text-align: center;
}

.cards2 .card {
  margin-bottom: 5.25rem;
  border: none;
  background-color: transparent;
}

.cards2 .card-image img {
  margin-top: auto;
  margin-left: 7%;
  border-radius: 0.375rem;
}

.cards2 h3 {
  margin: 13px;
  font-size: 18px !important;
  margin-bottom: 0.75rem;
  text-align: left;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cards2 p {
  margin: 10px;
  font-size: 15px !important;
  margin-bottom: 0.75rem;
  text-align: left;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cards2 .list-unstyled {
  margin-bottom: 1.5rem;
}

.cards2 .list-unstyled .fas {
  color: #14bf98;
  font-size: 0.5rem;
  line-height: 1.375rem;
}

.cards2 .list-unstyled .media-body {
  margin-left: 1.625rem;
}

.cards2 .player {
  margin-bottom: 0.25rem;
  color: #484a46;
  font: 800 10.5rem/111rem "Montserrat", sans-serif;
  text-align: center;
}

.cards2 .player span {
  color: #14bf98;
}

.cards2 .button-container {
  margin-top: -1.375rem;
  text-align: center;
}

.cards2:hover {
  background-color: #616161;
}

.cards2 .card {
  max-width: 10.25rem;
  max-height: 10.25rem;
  display: inline-block;
  vertical-align: top;
}

.cards2 .col-lg-12 div.card:nth-child(3n + 2) {
  margin-right: 1.25rem;
  margin-left: 1.25rem;
}

.cards2 .card-body {
  padding: 2.25rem 2.5rem 2.125rem 2.5rem;
}

.cards2 .col-lg-12 div.card:nth-child(3n + 2) {
  margin-right: 3rem;
  margin-left: 3rem;
}

.navbar-hover:hover {
  color: rgb(29, 185, 84) !important;
}

.active-navLink {
  color: rgb(29, 185, 84) !important;
}

.login {
  text-align: center;
}

.login-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.login-logo {
  height: 60vmin;
  pointer-events: none;
}

.login-link {
  color: #61dafb;
}

.login-btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ed660;
  color: #1ed660;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
}

.login-btn:hover {
  background: #1ed660;
  color: #333;
}

.login-btn--login {
  margin: 0 auto;
}

.li:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.text-header {
  font-size: 30px;
  color: #ffffff;
  margin-top: 13px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.play-icon {
  text-align: right !important;
  text-align: end !important;
  color: rgb(190, 16, 16) !important;
  font-size: 50px !important;
}

.play-icon:hover {
  color: rgb(29, 185, 84) !important;
}

.round-img {
  width: 160px !important;
  height: 160px !important;
  border-radius: 100% !important;
}

.Square-img {
  width: 160px !important;
  height: 160px !important;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

.search-bar {
  display: flex;
  box-sizing: border-box;
}

.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
  transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
  width: 3em;
  height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid {
  width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
  outline: transparent;
}
.search-bar {
  margin: auto;
  padding: 1.5em;
  justify-content: center;
  max-width: 30em;
}
.search-bar input {
  background: transparent;
  border-radius: 1.5em;
  box-shadow: 0 0 0 0.4em #171717 inset;
  padding: 0.75em;
  transform: translate(0.5em, 0.5em) scale(0.5);
  transform-origin: 100% 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search-bar input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
}
.search-btn {
  background: #171717;
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
  padding: 0.75em;
  position: relative;
  transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
  transform-origin: 0 50%;
}
.search-btn:before,
.search-btn:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
}
.search-btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2em #f1f1f1 inset;
  top: 0.75em;
  left: 0.75em;
  width: 1.2em;
  height: 1.2em;
}
.search-btn:after {
  background: #f1f1f1;
  border-radius: 0 0.25em 0.25em 0;
  top: 51%;
  left: 51%;
  width: 0.75em;
  height: 0.25em;
  transform: translate(0.2em, 0) rotate(45deg);
  transform-origin: 0 50%;
}
.search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
  background: #1db954;
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
}
.search-bar input:focus + .search-btn:before,
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before,
.search-bar input:valid + .search-btn:after {
  opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
  background: #1db954;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
  transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
  body,
  input {
    color: #ffffff;
  }
  body {
    background: #171717;
  }
  .search-bar input {
    box-shadow: 0 0 0 0.4em #ffffff inset;
  }
  .search-bar input:focus,
  .search-bar input:valid {
    background: #3d3d3d;
    box-shadow: 0 0 0 0.1em #3d3d3d inset;
  }
  .search-btn {
    background: #ffffff;
  }
}

.clo {
  color: #1db954 !important;
  background-color: #121212 !important;
  border-color: #171717 !important;
}

.clo {
  color: #1db954 !important;
  background-color: #121212 !important;
  border-color: #171717 !important;
}

.song-img {
  width: 65px;
  height: 65px;
}

.song-list {
  border-bottom: 1px solid #2a2b3c;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #282828;
}

.song-list:hover {
  background-color: #616161;
}

.song-p {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 8px;
  font-size: 13px !important;
  text-align: left;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.img-player {
  position: relative;
  width: 100%;
  max-width: 33px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
}

.img-player:hover .overlay {
  opacity: 1;
  color: rgb(255, 255, 255);
}

.icon {
  cursor: pointer;
  color: white;
  font-size: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.player {
  position: fixed;
  height: 11% !important;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.mainn {
  height: 89% !important;
}

.nav-z-index {
  z-index: 1;
}

.link {
  margin: 10px;
  font-size: 15px !important;
  margin-bottom: 0.75rem;
  text-align: left;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link:hover {
  color: #ffffff;
}

.profile img {
  width: "100" !important;
}

.profile h3 {
  margin: 13px;
  font-size: 18px !important;
  margin-bottom: 0.75rem;
  text-align: left;
  color: #ffffff !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile p {
  margin: 10px;
  font-size: 15px !important;
  margin-bottom: 0.75rem;
  text-align: left;
  color: #ffffff !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list {
  background-color: #282828;
}
